<section class="about-me">
  <div class="container">
    <h2 class="about-me-title visually-hidden">About me</h2>
    <div class="about-me-wrapper">
      <p class="about-me-wrapper-text">
        I work with people all over the world to create impressive and
        <span class="about-me-wrapper-text-red">functional</span>
        <span class="about-me-wrapper-text-grey">websites</span> that reflect
        each client's unique personality.
      </p>
      <picture>
        <source
          class="about-me-wrapper-foto"
          srcset="
            /img/about-me/desktop-jefferson-img.jpg    1x,
            /img/about-me/desktop-jefferson-img@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          class="about-me-wrapper-foto"
          srcset="
            /img/about-me/tablet-jefferson-img.jpg    1x,
            /img/about-me/tablet-jefferson-img@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          class="about-me-wrapper-foto"
          srcset="
            /img/about-me/mobile-jefferson-img.jpg    1x,
            /img/about-me/mobile-jefferson-img@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-me-wrapper-foto"
          src="/img/about-me/mobile-jefferson-img.jpg"
          alt="portfolio picture"
        />
      </picture>
    </div>

    <!---------------------- ACCARDION ---------------------------->

    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">About me</button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work.I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Role</button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li>Frontend development</li>
            <li>HeadlessCMS,Wordpress</li>
            <li>Blender(enjoy)</li>
          </ul>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">Education</button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text list">
            <li>
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li>
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
          </ul>
        </div>
      </div>
    </div>
    <!------------------------ SWIPER ----------------------------->
    <div class="about-me-sweper-box">
      <div class="swiper mySwiper about-me-swiper">
        <div class="swiper-wrapper about-me-swiper-wrapper">
          <div class="swiper-slide about-me-swiper-slide">HTML/CSS</div>
          <div class="swiper-slide about-me-swiper-slide">JavaScript</div>
          <div class="swiper-slide about-me-swiper-slide">React</div>
          <div class="swiper-slide about-me-swiper-slide">Node.js</div>
          <div class="swiper-slide about-me-swiper-slide">React Native</div>
          <div class="swiper-slide about-me-swiper-slide">Soft skills</div>
        </div>
      </div>
      <div class="swiper-next about-me-swiper-next">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.6665 20H33.3332"
            stroke="#3B3B3B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M23.3335 10L33.3335 20L23.3335 30"
            stroke="#3B3B3B"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
