<section class="benefits-section container" id="benefits">
  <div class="benefits-container ">
    <h1 class="benefits-title">Benefits of working with me</h1>
    <div class="benefits-wrapper">
        <ul class="benefits-list list">
            <li class="benefits-item">
                <div class="benefits-icon">
                    <svg class="svg-icon" width="64" height="64">
                        <use href="../img/sprite.svg#icon-service-user"></use>
                    </svg>
                </div>
                <h3 class="lists-title">Expertise</h3>
                <p class="lists-prgrf">
                    As a highly experienced developer, I have deep knowledge of
                    programming and website development.
                </p>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <svg class="svg-icon" width="64" height="64">
                        <use href="../img/sprite.svg#icon-service-message"></use>
                    </svg>
                </div>
                <h3 class="lists-title">Communication</h3>
                <p class="lists-prgrf">
                    Understanding your needs and wants is my priority and I am always open
                    to discussions and corrections.
                </p>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <svg class="svg-icon" width="64" height="64">
                        <use href="../img/sprite.svg#icon-service-brush"></use>
                    </svg>
                </div>
                <h3 class="lists-title">Art</h3>
                <p class="lists-prgrf">
                    Thanks to my creative nature, I am ready to accept challenges and help
                    you bring your ideas to life.
                </p>
            </li>
            <li class="benefits-item item">
                <div class="benefits-icon">
                    <svg class="svg-icon" width="64" height="64">
                        <use href="../img/sprite.svg#icon-service-hourglass"></use>
                    </svg>
                </div>
                <h3 class="lists-title">Urgent execution</h3>
                <p class="lists-prgrf">
                    I understand how important time is to you. Ready to work quickly and
                    efficiently, without reducing the quality of work.
                </p>
            </li>
        </ul>
        <a class="order-link" href="#work-together">Order the project </a>
    </div>
    

    
  </div>
</section>
