<section class="covers">
  <h2 class="visually-hidden">Gallery of works covers</h2>
  <ul class="covers__list">
    <li class="covers__item">
      <img
        class="covers__image"
        srcset="./img/covers/cover6.jpg 1x, ./img/covers/cover6@2x.jpg 2x"
        src="./img/covers/cover6.jpg"
        alt=""
        width="280"
      />
    </li>

    <li class="covers__item">
      <img
        class="covers__image"
        srcset="./img/covers/cover1.jpg 1x, ./img/covers/cover1@2x.jpg 2x"
        src="./img/covers/cover1.jpg"
        alt=""
        width="280"
      />
      <img
        class="covers__image"
        srcset="./img/covers/cover2.jpg 1x, ./img/covers/cover2@2x.jpg 2x"
        src="./img/covers/cover2.jpg"
        alt=""
        width="280"
      />
    </li>

    <li class="covers__item">
      <img
        class="covers__image"
        srcset="./img/covers/cover5.jpg 1x, ./img/covers/cover5@2x.jpg 2x"
        src="./img/covers/cover5.jpg"
        alt=""
        width="280"
      />

      <img
        class="covers__image"
        srcset="./img/covers/cover10.jpg 1x, ./img/covers/cover10@2x.jpg 2x"
        src="./img/covers/cover10.jpg"
        alt=""
        width="280"
      />

      <img
        class="covers__image"
        srcset="./img/covers/cover3.jpg 1x, ./img/covers/cover3@2x.jpg 2x"
        src="./img/covers/cover3.jpg"
        alt=""
        width="280"
      />
    </li>

    <li class="covers__item">
      <img
        class="covers__image"
        srcset="./img/covers/cover4.jpg 1x, ./img/covers/cover4@2x.jpg 2x"
        src="./img/covers/cover4.jpg"
        alt=""
        width="280"
      />

      <img
        class="covers__image"
        srcset="./img/covers/cover7.jpg 1x, ./img/covers/cover7@2x.jpg 2x"
        src="./img/covers/cover7.jpg"
        alt=""
        width="280"
      />

      <img
        class="covers__image"
        srcset="./img/covers/cover8.jpg 1x, ./img/covers/cover8@2x.jpg 2x"
        src="./img/covers/cover8.jpg"
        alt=""
        width="280"
      />
    </li>

    <li class="covers__item">
      <img
        class="covers__image"
        srcset="./img/covers/cover9.jpg 1x, ./img/covers/cover9@2x.jpg 2x"
        src="./img/covers/cover9.jpg"
        alt=""
        width="280"
      />
    </li>
  </ul>
</section>
