<!-- =======Modal window mobile======= -->
<div class="burger-menu-container visually-hidden" data-menu>
  <div class="background-mobile-window">
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
    <div class="transparent-mobile-window"></div>
  </div>
  <div class="modal-btn">
    <button type="button" class="burger-close-button" data-menu-close>
      <svg class="burger-close-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <nav class="burger-nav-menu">
    <ul class="burger-nav-list">
      <li class="burger-nav-item">
        <a href="#about-me" class="burger-nav-link">About me</a>
      </li>
      <li class="burger-nav-item">
        <a href="#benefits" class="burger-nav-link">Benefits</a>
      </li>
      <li class="burger-nav-item">
        <a href="#project" class="burger-nav-link">Project</a>
      </li>
      <li class="burger-nav-item">
        <a href="#faq" class="burger-nav-link">FAQ</a>
      </li>
    </ul>
  </nav>
  <div class="burger-order-button-container">
    <a class="burger-order-button" href="#work-together">Order the project</a>
  </div>

  <div class="navigation-background"></div>
</div>
<!-- ================================== -->

<header class="header">
  <div class="background">
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
    <div class="transparent"></div>
  </div>
  <div class="header-container">
    <div class="header-container-avatar">
      <a
        href="https://antagonist13.github.io/portfolio_friendship_team_project_space"
        class="header-avatar"
      >
        <img
          class="avatar-logo"
          srcset="
            ./img/header/logo-jefferson.jpg    80w,
            ./img/header/logo-jefferson@2x.jpg 80w
          "
          src="./img/header/logo-jefferson@2x.jpg"
          width="80px"
          height="80px"
          alt="header avatar"
          ;
        />
      </a>
      <p class="avatar-name">jefferson*</p>
    </div>

    <div id="profile">
      <a class="menu-list" href="#" id="profile-link">Menu</a>

      <div id="dropdown">
        <ul class="menu-nav">
          <li class="menu-nav-item">
            <a class="sections-link" href="#about-me">About me</a>
          </li>
          <li class="menu-nav-item">
            <a class="sections-link" href="#benefits">Benefits</a>
          </li>
          <li class="menu-nav-item">
            <a class="sections-link" href="#project">Projects</a>
          </li>
          <li class="menu-nav-item">
            <a class="sections-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="order-button-container">
      <a class="header-order-button" href="#work-together">Order the project</a>
    </div>

    <button type="button" class="burger-open-button" data-menu-open>
      <svg class="burger-open-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
  <div class="theme-switcher">
    <input
      type="checkbox"
      id="themeSwitch"
      name="theme-switch"
      class="theme-switch__input"
    />
    <label for="themeSwitch" class="theme-switch__label">
      <span class="switcher-center"></span>
    </label>
  </div>
</header>
