<section class="hero">
<div class="hero-section">

    <div class="hero-title-container">
        <h1 class="hero-title">Hello.<br> 
            I’m Fullstack<br> developer<br> 
            Lloyd Jefferson.</h1>
    </div>


    <div class="social-network-container">
        <ul class="social-media-list">
            <li class="social-media-list-item"><a class="contacts" href="https://www.instagram.com/goitclub/">IG</a></li>
            <li class="social-media-list-item"><a class="contacts" href="https://www.facebook.com/goITclub/">FB</a></li>
            <li class="social-media-list-item"><a class="contacts" href="https://www.youtube.com/c/GoIT">YT</a></li>
            <li class="social-media-list-item"><a class="contacts" href="https://github.com/antagonist13/portfolio_friendship_team_project_space">GH</a></li>
            <li class="social-media-list-item"><a class="contacts" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
    
</div>
</section>