<section class="project-section" id="project">
    <h2 class="project-head">Projects</h2>
    <div class="swiper container">
        <!-- swiper-on js -->
    <ul class="project-list swiper-wrapper">
        <li class="project-list-style swiper-slide">
            <div class="project-div-design">
                <ul class="project-list-info">
                    <li class="project-list-design">#react</li>
                    <li class="project-list-design">#js</li>
                    <li class="project-list-design">#node js</li>
                    <li class="project-list-design">#git</li>
                </ul>
            <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
            <button class="project-btn"><a href="https://github.com/antagonist13/portfolio_friendship_team_project_space" target="_blank">See project</a></button>
            </div>
            <div class="project-img">
            <picture class="project-img-design">
                <source srcset="./img/projects/desktop-first-project.jpg 1x,
            ./img/projects/desktop-first-project@2x.jpg 2x"
            media="(min-width: 1440px)">
                <source srcset="./img/projects/tablet-first-project-img.jpg 1x,
            ./img/projects/tablet-first-project-img@2x.jpg 2x"
            media="(min-width: 768px)">
                <source srcset="./img/projects/mobile-first-project.jpg 1x,
            ./img/projects/mobile-first-project@2x.jpg 2x"
            media="(max-width: 767px)">
                        <img src="./img/projects/desktop-first-project.jpg"
                         alt="Mobile App" 
                         class="project-list-img">
            </picture>
            </div>
</li>
        <li class="project-list-style swiper-slide">
            <div class="project-div-design">
                <ul class="project-list-info">
                    <li class="project-list-design">#react</li>
                    <li class="project-list-design">#js</li>
                    <li class="project-list-design">#node js</li>
                    <li class="project-list-design">#git</li>
                </ul>
                <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                <button class="project-btn"><a href="https://github.com/antagonist13/portfolio_friendship_team_project_space"
                        target="_blank">See project</a></button>
            </div>
                        <div class="project-img">
                        <picture>
                            <source srcset="./img/projects/desktop-second-project.jpg 1x,
                                    ./img/projects/desktop-second-project@2x.jpg 2x" 
                                    media="(min-width: 1440px)">
                            <source srcset="./img/projects/tablet-second-project.jpg 1x,
                                    ./img/projects/tablet-second-project@2x.jpg 2x" 
                                    media="(min-width: 768px)">
                            <source srcset="./img/projects/mobile-second-project.jpg 1x,
                                    ./img/projects/mobile-second-project@2x.jpg 2x" 
                                    media="(max-width: 767px)">
                            <img src="./img/projects/desktop-second-project.jpg" 
                            alt="Dog" 
                            class="project-list-img">
                        </picture>
                        </div>
                        </li>
        <li class="project-list-style swiper-slide">
            <div class="project-div-design">
                <ul class="project-list-info">
                    <li class="project-list-design">#react</li>
                    <li class="project-list-design">#js</li>
                    <li class="project-list-design">#node js</li>
                    <li class="project-list-design">#git</li>
                </ul>
                <h3 class="project-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                <button class="project-btn"><a href="https://github.com/antagonist13/portfolio_friendship_team_project_space"
                        target="_blank">See project</a></button>
            </div>
            <div class="project-img">
            <picture>
                <source srcset="./img/projects/desktop-third-project.jpg 1x,
                                                ./img/projects/desktop-third-project@2x.jpg 2x" 
                                                media="(min-width: 1440px)">
                <source srcset="./img/projects/tablet-third-project.jpg 1x,
                                                ./img/projects/tablet-third-project@2x.jpg 2x" 
                                                media="(min-width: 768px)">
                <source srcset="./img/projects/mobile-third-project.jpg 1x,
                                                ./img/projects/mobile-third-project@2x.jpg 2x" 
                                                media="(max-width: 767px)">
                <img src="./img/projects/desktop-third-project.jpg" 
                alt="Form Registr" 
                class="project-list-img">
            </picture>
            </div>
            </li>
    </ul>
    <div class="project-btn-swap-design">
    <button class="project-btn-swap-left swiper-button-prev project-btn-swap-disable" type="button">
        <svg class="project-btn-swap-list" width="24" height="24" aria-label="swap img project left">
            <use href="./img/sprite.svg#icon-big-arrow-left"></use>
        </svg>
    </button>
    <button class="project-btn-swap-right swiper-button-next" type="button">
        <svg class="project-btn-swap-list" width="24" height="24" aria-label="swap img project right">
            <use href="./img/sprite.svg#icon-big-arrow-right"></use>
        </svg>
    </button>
</div>
</div>
</section>