<section class="reviews__section">
  <h2 class="reviews__h2">Reviews</h2>
  <ul class="reviews__list">
    <li class="reviews__item">
      <img
        width="48"
        class="reviews__img"
        src="../img/about-me/desktop-jefferson-img@2x.jpg"
        alt=""
      />
      <h3 class="reviews__h3">Natalia</h3>
      <p class="reviews__descr">
        Work with was extraordinary! He turned out to be a very competent and
        responsible specialist. The projects were completed on time and the
        result exceeded my expectations
      </p>
    </li>
    <li class="reviews__item">
      <img
        width="48"
        class="reviews__img"
        src="../img/about-me/desktop-jefferson-img@2x.jpg"
        alt=""
      />
      <h3 class="reviews__h3">Natalia</h3>
      <p class="reviews__descr">
        Work with was extraordinary! He turned out to be a very competent and
        responsible specialist. The projects were completed on time and the
        result exceeded my expectations
      </p>
    </li>
    <li class="reviews__item">
      <img
        width="48"
        class="reviews__img"
        src="../img/about-me/desktop-jefferson-img@2x.jpg"
        alt=""
      />
      <h3 class="reviews__h3">Natalia</h3>
      <p class="reviews__descr">
        Work with was extraordinary! He turned out to be a very competent and
        responsible specialist. The projects were completed on time and the
        result exceeded my expectations
      </p>
    </li>
    <li class="reviews__item">
      <img
        width="48"
        class="reviews__img"
        src="../img/about-me/desktop-jefferson-img@2x.jpg"
        alt=""
      />
      <h3 class="reviews__h3">Natalia</h3>
      <p class="reviews__descr">
        Work with was extraordinary! He turned out to be a very competent and
        responsible specialist. The projects were completed on time and the
        result exceeded my expectations
      </p>
    </li>
  </ul>
  <ul class="reviews__arrow">
    <li>
      <button class="reviews__arrow-left disabled_btn">
        <svg width="24" height="24">
          <use href="../img/sprite.svg#icon-big-arrow-left"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="reviews__arrow-right">
        <svg width="24" height="24">
          <use href="../img/sprite.svg#icon-big-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
