.bright-theme {
  background-color: rgb(248, 248, 255);
  color: #1c1d20;
}
.header-bright {
  background: linear-gradient(
    270deg,
    rgb(248, 248, 255) 49.712%,
    rgb(237, 59, 68) 67.655%,
    rgb(105, 41, 45) 99.721%
  );
}
.hero-bright {
  background: linear-gradient(
    270deg,
    rgb(248, 248, 255) 49.712%,
    rgb(237, 59, 68) 67.655%,
    rgb(105, 41, 45) 99.721%
  );
}
.transparent-bright {
  background: linear-gradient(
    90deg,
    rgba(59, 59, 59, 0),
    rgba(248, 248, 255, 0.2) 16.667%,
    rgba(59, 59, 59, 0) 100%
  );
}
.hero-title-bright {
  color: #1c1d20;
}
.menu-list-bright {
  color: #1c1d20;
}
.contacts-bright {
  color: #1c1d20;
}
.social-media-list-item-bright {
  border: 1px solid rgba(28, 29, 32, 0.2);
}
.sections-link-bright {
  color: #1c1d20 !important;
}

/* ABOUT ME */
.about-me-wrapper-text-bright {
  background: rgb(221, 217, 216);
}
.about-me-wrapper-text-grey-bright {
  color: rgb(237, 59, 68);
}
.about-me-ac-trigger-bright {
}
