.faq-section {
    padding-top: 32px;
    padding-bottom: 32px;
}

.faq-main-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-list-item {
    padding-bottom: 20px;
    padding-top: 20px;
}

.faq-list-item:nth-child(even) {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-list-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-box {
    display: flex;
    justify-content: space-between;
}

.fqa-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    max-width: 265px;
}

.faq-btn {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
    background-color: transparent;
}

.faq-icon {
    stroke: #FAFAFA;
}

.fqa-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

/* ACCORDION */
.faq-accordion {
    max-width: 375px;
}

.faq-accordion.active .faq-box {
    margin-bottom: 16px;
}

.faq-accordion.active .faq-icon {
    transform: rotate(180deg);
}

.fqa-text-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq-accordion.active .fqa-text-answer {
    max-height: 96px;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* TABLET */

@media screen and (min-width: 768px) {
    .faq-list-item {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .faq-box {
        margin-bottom: 26px;
    }

    .fqa-title {
        max-width: 574px;
    }

    .faq-btn {
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    .fqa-text {
        max-width: 656px;
    }

    /* ACCORDION */
    .faq-accordion {
        max-width: 768px;
    }

    .faq-accordion.active .fqa-text-answer {
        max-height: 72px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }
    .faq-list-item {
        padding-bottom: 26px;
        width: 688px;
    }

    .faq-list-item:first-child {
        padding-left: 0px;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-list-item:nth-child(even) {
        padding-left: 32px;
        border-bottom: none;
    }

    .faq-list-item:nth-child(3) {
        padding-left: 0px;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-list-item:nth-child(5) {
        padding-left: 0px;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-list-item:last-child {
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }
}