.header {
  /* background-image: url(../img/header/background-image.png); */
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  background: linear-gradient(
    270deg,
    rgb(28, 29, 32) 49.712%,
    rgb(105, 41, 45) 67.655%,
    rgb(237, 59, 68) 99.721%
  );
}
.background {
  overflow-x: auto;
  position: absolute;
  left: -300px;
  top: 0;
  height: 812px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.transparent {
  width: 57px;
  height: 100%;
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(59, 59, 59, 0.2) 16.667%,
    rgba(255, 255, 255, 0) 100%
  );
}
.header-container {
  padding: 32px 16px 0 16px;
  display: flex;
  justify-content: space-between;
}

.header-container-avatar {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  z-index: 2;
}

.avatar-logo {
  border-radius: 20px;
  width: 80px;
  height: 80px;
}

.avatar-name {
  width: 84px;
  height: 19px;
  position: static;
}

.header-order-button {
  display: none;
}

/* ============= Modal window mobile =============== */
.background-mobile-window {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.transparent-mobile-window {
  width: 42px;
  height: 100%;
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(59, 59, 59, 0.2) 16.667%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 0;
}

.burger-open-button {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  border: transparent;
  height: 25px;
}

.burger-open-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  stroke: #fafafa;
  width: 28px;
  height: 28px;
}

.burger-menu-container {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.burger-close-button {
  width: 28px;
  height: 28px;
  border: transparent;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-right: 16px;
  margin-left: auto;

  /* position: absolute; 
    left: 310px;
    right: 18px;
    top: 33px; */
}

.burger-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  stroke: #fafafa;
  z-index: 5;
}
.burger-nav-menu {
  z-index: 5;
}
.burger-nav-item {
  z-index: 5;
}
.burger-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.burger-nav-link {
  z-index: 5;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: rgb(250, 250, 250);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0px;
}
.burger-order-button-container {
  position: relative;
  z-index: 5;
}
.burger-order-button {
  z-index: 5;
  border-radius: 60px;
  background-color: rgb(237, 59, 68);
  width: 163px;
  height: 55px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;

  color: rgb(250, 250, 250);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.02%;
  text-align: left;
}

.burger-order-button:hover,
.burger-order-button:focus,
.burger-order-button:active {
  background-color: rgb(250, 250, 250);
  color: red;
  transition: 0.3s ease-in-out;
}

.navigation-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var();
  background-image: url();
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90.57deg,
    rgb(28, 29, 32) 49.826%,
    rgb(105, 41, 45) 67.37%,
    rgb(237, 59, 68) 98.722%
  );
  transform: rotate(180deg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#profile {
  display: none;
  z-index: 2;
}

#dropdown {
  display: none;
  z-index: 2;
}
/* ==================== MODAL ended ===================== */

/* ============================================== */

/* ====================== MOBILE 375px ====================== */
@media screen and (min-width: 375px) {
  /* ============= Modal window mobile =============== */
  .burger-open-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    border: transparent;
    height: 25px;
  }

  .burger-open-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    stroke: #fafafa;
    width: 28px;
    height: 28px;
  }

  .burger-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    stroke: #fafafa;
  }

  .burger-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: rgb(250, 250, 250);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0px;
  }

  .navigation-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var();
    background-image: url();
    backdrop-filter: blur(100px);
    background: linear-gradient(
      90.57deg,
      rgb(28, 29, 32) 49.826%,
      rgb(105, 41, 45) 67.37%,
      rgb(237, 59, 68) 98.722%
    );
    transform: rotate(180deg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  #profile {
    display: none;
  }

  /* ==================== MODAL ended ===================== */
}

/* ==================== TABLET 768px ===================== */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 32px 32px 0 32px;
    display: flex;
    justify-content: space-between;
  }
  .background {
    left: -160px;
    height: 1024px;
  }
  .transparent {
    width: 70px;
  }
  .header-container-avatar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .avatar-logo {
    border-radius: 20px;
    width: 80px;
    height: 80px;
  }

  .avatar-name {
    width: 84px;
    height: 19px;
    position: static;
  }

  .menu-list {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: rgb(250, 250, 250);
  }
  .order-button-container {
    z-index: 2;
    display: flex;
    flex-direction: row;
  }
  .header-order-button {
    z-index: 2;
    border-radius: 60px;
    background-color: rgb(237, 59, 68);
    width: 163px;
    height: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02%;
    text-align: left;
  }

  .header-order-button:hover,
  .header-order-button:focus,
  .header-order-button:active {
    background-color: rgb(250, 250, 250);
    color: red;
    transition: 0.3s ease-in-out;
  }

  /* ==== Drop-menu ==== */
  #dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  #profile {
    display: block;
    opacity: 1;
  }

  #profile.active #dropdown {
    display: block;
    opacity: 1;
  }

  #dropdown .sections-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
  }

  #dropdown .sections-link:hover {
    background-color: #f4f4f4;
    transform: scale(1.1);
    color: #e0373f;
  }

  #dropdown .sections-link:focus {
    background-color: #f4f4f4;
    transform: scale(1.1);
    color: #e0373f;
  }
  /* ==== Drop-menu ended ==== */

  .burger-open-button {
    display: none;
  }

  .burger-menu-container {
    display: none;
  }

  .burger-close-button {
    display: none;
  }
}

/* =================== DESKTOP 1440px ===================== */
@media screen and (min-width: 1440px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .background {
    left: 0;
    height: 900px;
  }
  .header-container-avatar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .avatar-logo {
    border-radius: 20px;
    width: 80px;
    height: 80px;
  }

  .avatar-name {
    width: 84px;
    height: 19px;
    position: static;
  }

  .menu-list {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: rgb(250, 250, 250);
  }
}

/* ==================================================== */

.theme-switcher {
  position: absolute;
  top: 0;
  right: 400px;
  box-sizing: border-box;
}
label {
  background: var(--bg, white);
  color: var(--text, black);
}
.theme-switch__input:checked ~ label {
  --text: black;
}
/*  Toggle switch */
.theme-switch__input,
.theme-switch__label {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.theme-switch__input {
  opacity: 0;
  &:hover,
  &:focus {
    + .theme-switch__label {
      background-color: lightSlateGray;
    }

    + .theme-switch__label span::after {
      background-color: lighten(lightBlue, 10%);
    }
  }
}

.theme-switch__label {
  padding: 20px;
  margin: 32px;
  transition: background-color 200ms ease-in-out;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);

  &::before,
  &::after {
    font-size: 2rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
  }

  &::before {
    content: '\263E';
    right: 100%;
    margin-right: 10px;

    color: turquoise;
  }

  &::after {
    content: '\263C';
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
  }

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 15px);
    left: 5px;
    width: 40px;
    height: 40px;
    content: '';
    border-radius: 50%;
    background-color: lightBlue;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

/*  Checked label styles */
.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: orange;
  }

  span::after {
    transform: translate3d(70px, 0, 0);
  }
}
