

.hero {   
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 812px;
    padding-left: 16px;
    padding-right: 16px;
    /* background-image: url(../img/header/background-image.png);  */
    /* background-repeat: no-repeat; */
    /* background-position: center;  */
    /* background-size: cover;  */
    background: linear-gradient(270.00deg, rgb(28, 29, 32) 49.712%,rgb(105, 41, 45) 67.655%,rgb(237, 59, 68) 99.721%);  
    
    
}   




.hero-title {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    margin-top: 280px;
}

.social-media-list {
    display: flex; 
    justify-content: flex-end;
    gap: 4px;
}

.social-media-list-item {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

    position: static;
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    
}

.social-media-list-item:last-child {
    width: 160px;
    height: 37px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px;

    color: rgb(250, 250, 250);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

.social-media-list-item:hover, 
.social-media-list-item:focus,
.social-media-list-item:active,
.contacts:hover,
.contacts:focus,
.contacts:active {
    background-color: rgb(250, 250, 250);
    color: #000000;
    border: 1px solid rgba(250, 250, 250, 0.2);
    
    box-sizing: border-box;
    border-radius: 60px;
}


/* ============== TABLET =============== */
@media screen and (min-width: 768px) {
    .hero {
        height: 1024px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero-title {
        font-size: 90px;
        font-weight: 400;
        line-height: 90px;
        text-transform: uppercase;
        margin-top: 300px;
    }

    .social-media-list {
        display: flex; 
        justify-content: flex-end;
        gap: 8px;
        padding-right: 10px;
    }

    .social-media-list-item {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        width: 56px;
        height: 56px;
    }

    .social-media-list-item:last-child {
        width: 200px;
        height: 56px;
    }

    
    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 17px 20px;
    
        color: rgb(250, 250, 250);
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .social-media-list-item:hover, 
    .social-media-list-item:focus,
    .social-media-list-item:active,
    .contacts:hover,
    .contacts:focus,
    .contacts:active {
        background-color: rgb(250, 250, 250);
        color: #000000;
        border: 1px solid rgba(250, 250, 250, 0.2);
        
        box-sizing: border-box;
        border-radius: 60px;
    }
}



/* ============== DESKTOP ============== */
@media screen and (min-width: 1440px) {
    .hero {
        height: 900px;
        padding-left: 32px;
        padding-right: 32px;
    }
  
    .hero-title {
        display: flex;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .social-media-list {
        display: flex; 
        justify-content: flex-end;
        gap: 8px;
    }

    .social-media-list-item {
        color: rgb(250, 250, 250);
        font-family: Inter Tight;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-align: left;
    
        position: static;
        width: 55px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    
        box-sizing: border-box;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
    }

    .social-media-list-item:last-child {
        width: 223px;
        height: 55px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 17px 20px;
    
        color: rgb(250, 250, 250);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;
    }
    
    .social-media-list-item:hover, 
    .social-media-list-item:focus,
    .social-media-list-item:active,
    .contacts:hover,
    .contacts:focus,
    .contacts:active {
        background-color: rgb(250, 250, 250);
        color: #000000;
        border: 1px solid rgba(250, 250, 250, 0.2);
        
        box-sizing: border-box;
        border-radius: 60px;
    }
  }