.display {
  display: none;
}

.project-section {
  display: flex;
  flex-direction: column;
  padding: 32px;
  /* padding-bottom: 32px; */
}

.project-head {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fafafa;
  opacity: 40%;
  margin-bottom: 32px;
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
}

.project-list-style {
  flex: 0 0 auto;
  margin-right: 10px;
  max-width: 343px;
}

.project-div-design {
  background-color: #fafafa;
  color: #1c1d20;
  padding: 32px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.project-list-info {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 96px;
  font-size: 14px;
  font-weight: 600;
}

.project-list-design {
  padding: 13px 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  width: auto;
}

.project-title {
  color: #1c1d20;
  font-weight: 600;
  margin-bottom: 32px;
}

.project-btn {
  cursor: pointer;
  border: none;
  background-color: #ed3b44;
  color: #fafafa;
  border-radius: 60px;
  padding: 13px 32px;
}

.project-img {
  padding: 100px 16px;
  background-color: #242527;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin-bottom: 32px;
}

.project-btn-swap-design {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.project-btn-swap-left,
.project-btn-swap-right {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  stroke: #fafafa;
  padding: 14px;
}

.project-btn-swap-list {
  display: flex;
}

.project-btn-swap-disable {
  border-color: #3b3b3b;
  stroke: #3b3b3b;
  cursor: auto;
}

/* =======================tablet======================= */

@media screen and (min-width: 768px) {
}

.project-list-style {
  max-width: 704px;
}

.project-div-design {
  padding: 64px;
}

.project-list-info {
  margin-bottom: 164px;
}

.project-title {
  max-width: 240px;
}

.project-img {
  display: flex;
  justify-content: center;
}

.project-img-design {
  max-width: 614px;
}

.project-img {
  margin-bottom: 64px;
}

.project-btn-swap-design {
  margin-right: auto;
  margin-left: auto;
}

/* ======================descktop====================== */

/* @media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
} */
/* .project-list {
    display: flex;
} */
/* .swiper-slide {
    display: flex;
} */

/* .project-list-style {
    display: flex;
} */
