.footer {
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 290px;
  top: 0px;

  background: url(../img/work-together/elements.png);
}

.footer-container {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.work-together {
  margin-bottom: 64px;
}

.footer-img {
  float: left;
  margin-right: 8px;
  width: 44px;
  height: 44px;
  border-radius: 24px;
  border: 1px solid #1c1d20;
}

.footer-header {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.text-red {
  color: #ed3b44;
}

.footer-form {
  width: 100%;
  margin-bottom: 64px;
}

.form-fields {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 32px;
}

.form-fields::after {
  position: absolute;
  top: 37px;
  left: 0;

  content: attr(data-status);
  color: var(--status-color);
  font-size: 14px;
}

.form-input {
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#user-email.valid {
  border-bottom: 1px solid #3cbc81;
}

#user-email.invalid {
  border-bottom: 1px solid #e74a3b;
}

#user-comment.valid {
  border-bottom: 1px solid #3cbc81;
}

#user-comment.invalid {
  border-bottom: 1px solid #e74a3b;
}

.form-input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #fafafa;
  color: #fafafa;
}

input[type='email'] {
  text-transform: lowercase;
}

.send-form-btn {
  border: none;
  border-radius: 50%;
  background-color: #ed3b44;
  color: #fafafa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.02em;
  padding: 40px 32px;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #e0373f;
}

.footer-links {
  display: flex;
  gap: 4px;
}

.link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  color: #fafafa;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.link:hover,
.link:focus {
  border: 1px solid #fafafa;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  box-sizing: border-box;
  width: 343px;
  padding: 64px 32px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #1c1d20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-close-btn-icon {
  width: 22px;
  height: 22px;
}

.modal-close-btn {
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  stroke: #fafafa;
  border: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  color: #fafafa;
  text-align: center;
}

.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa99;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 48px;
  }

  .footer::before {
    left: 570px;
  }

  .footer-container {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .footer-img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }

  .footer-header {
    font-size: 64px;
  }

  .footer-form {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }

  .form-fields {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 0;
  }

  .form-input {
    width: 240px;
  }

  .send-form-btn {
    padding: 65px 57px;
  }

  .footer-links {
    gap: 8px;
  }

  .link {
    padding: 18px 32px;
    font-size: 16px;
    font-weight: 500;
  }

  .modal {
    width: 492px;
    padding: 64px;
  }

  .modal-close-btn-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin-top: 82px;
  }

  .footer::before {
    left: 1040px;
  }

  .footer-container {
    padding-right: 164px;
    padding-left: 164px;
  }

  .footer-form {
    gap: 86px;
  }

  .form-input {
    width: 390px;
  }
}
