.footer {
  margin-top: 32px;
  padding-bottom: 32px;
}

.footer-container {
  position: relative;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.work-together {
  margin-bottom: 64px;
}

.footer-img {
  float: left;
  margin-right: 8px;
  width: 44px;
  height: 44px;
  border-radius: 24px;
}

.footer-header {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.text-red {
  color: #ed3b44;
}

.footer-form {
  width: 100%;
  margin-bottom: 64px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.form-input {
  position: relative;
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
}

.form-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #fafafa;
  color: #fafafa;
}

.form-input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
}

.send-form-btn {
  border: none;
  border-radius: 50%;
  background-color: #ed3b44;
  color: #fafafa;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.02em;
  padding: 40px 32px;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #e0373f;
}

.footer-links {
  display: flex;
  gap: 4px;
}

.link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  color: #fafafa;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.link:hover,
.link:focus {
  border: 1px solid #fafafa;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  box-sizing: border-box;
  width: 343px;
  padding: 64px 32px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #1c1d20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-btn-icon {
  width: 22px;
  height: 22px;
}

.modal-close-btn {
  margin-left: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  stroke: #fafafa;
  border: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  color: #fafafa;
  text-align: center;
}

.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa99;
  text-align: center;
}
